.fitmate-container {
  background-color: #4B4B4B;
}

.fitmate-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .form-control {
    background-color: black;
    color: #F6D0A5;
  }
  input::placeholder {
    color:#F6D0A5;
    opacity: 0.5;
    font-style: italic;
  }
  .btn-submit {
    color: black;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: bold;
    background-color: #F6D0A5;
  }
}

/* Cibler la barre de recherche principale */
.mapboxgl-ctrl-geocoder {
  /* Ajoutez vos styles personnalisés ici */
  background-color: #4B4B4B;
}

/* Cibler la zone de saisie de texte */
.mapboxgl-ctrl-geocoder input[type="text"] {
  /* Ajoutez vos styles personnalisés ici */
}

.mapboxgl-ctrl-geocoder input[type="text"]::placeholder {
  /* Ajoutez les styles personnalisés pour le placeholder */
}


/* Cibler le bouton de recherche */
.mapboxgl-ctrl-geocoder button[type="button"] {
  /* Ajoutez vos styles personnalisés ici */
}

/* Cibler les résultats de recherche */
.mapboxgl-ctrl-geocoder .suggestions {
  /* Ajoutez vos styles personnalisés ici */
}

/* Cibler les résultats individuels de recherche */
.mapboxgl-ctrl-geocoder .suggestion-item {
  /* Ajoutez vos styles personnalisés ici */
}

.btn-al {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-al:hover {
  background-color: #555;
}

.btn-al:focus {
  outline: none;
  box-shadow: 0 0 4px #fff;
}
