/* ADD-EVENT */
.event-wrapper {
  background-color: #414141;
  padding: 10px;
}

/* LINK-TITLE-EVENT */
.link-title-add-event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .fitmate-header-navbar {
    border: 0px solid;

    .transparent-button {
      background-color: transparent;
      font-size: 25px;
    }
  }

  /* TITLE */
  .title-event-creation {
    color: #F6D0A5;

    h3 {
      padding-bottom: 5px;
      border-bottom: 1px solid #F6D0A5;
      margin-bottom: 0;
    }
  }

  /* AVATAR */
  .avatar-user {
    padding-left: 15px;

    .avatar-event {
      border-radius: 50%;
      border: 1px solid #F6D0A5;
      border-radius: 25px 0px 25px 25px;
    }
  }
}

/* FORM */
.form-new-events {
  display: flex;
  justify-content: center;
  background-color: #414141;
  padding: 10px;
}

/* SPORT SELECT */
.sport-selection{
  align-items: center;
  color: white;
  margin-bottom: 20px;
  overflow-x: scroll;
  width: 90vw;

  .btn-sport-event{
    color: #888888;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
  }
  .radio_buttons .col-form-label{
    display: none;
    background-color: #888888;
  }
  .dropdown-menu {
    background-color: #888888;
    border: 1px solid #F6D0A5;
  }
  .category-wrapper{
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    padding: 0px 20px 0px 20px;
    /* overflow-x: scroll;
    width: 100vw; */

    .category-item{
      margin: 5px 0;

      .category-selector{
        position: absolute;
        transform: scale(0)
      }
      .category-selector + label{
        cursor: pointer;
        color: #414141;;
        background-color: #F6D0A5;
        border: 1px solid #414141;;
        border-radius: 25px;
        padding: 6px;
        white-space: nowrap;
        font-weight: bold;
      }
      .category-selector:checked + label{
      color: #F6D0A5;
      background-color: #414141;;
      border: 1px solid #F6D0A5;
      font-weight: bold;
      }
    }
  }
}

/* DATE */
.select-date .datetime{
  color: #888888;
}
.select-date .form-control{
  color: #888888;
  border-radius: 10px;
}

/* LOCAL */
.localisation-event .string .form-control {
  border-radius: 10px;
  color: #888888;
}
.localisation-event .string .form-control::placeholder{
  color: #888888;
}
.mapboxgl-ctrl-geocoder {
  border-radius: 10px;
}
.mapboxgl-ctrl-geocoder--input {
  padding: 0.375rem 0.75rem;
}
.mapboxgl-ctrl-geocoder--icon-search  {
  display: none;
}

/* PARTICIPANTS */
.max-participant-event .integer .form-control{
  border-radius: 10px;
  color: #888888;
}
.max-participant-event .integer .form-control::placeholder{
  color: #888888;
}

/* LEVEL */
.event-level .form-check .radio_buttons {
  background-color: #888888;
  border: 1px solid #F6D0A5;
}
.event-level .form-check .collection_radio_buttons {
  color: white;
}
.event-level .col-form-label{
  color: #F6D0A5;
}

/* TITLE */
.title-event .string .form-control{
  border-radius: 10px;
  color: #888888;
  margin-bottom: 10px;
}
.title-event .string .form-control::placeholder{
  color: #888888;
}

/* DESCRIPTION */
.description-event .event_description .form-control{
  border-radius: 10px;
  color: #888888;
}
.description-event .event_description .form-control::placeholder{
  color: #888888;
}

/* IMG */
.photo-event .file .form-control{
  border-radius: 10px;
  color: #888888;
}

/* CTA */
.btn-create-event {
  width: 100%;
  color: #414141;
  border: none;
  margin-top: 10px;
  font-weight: bold;
}
