

#carouselExampleFade {
  height: 100dvh;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.carousel-item {
  height: 100%;
}
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fitmate-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 10;
  align-items: center;
  .fitmate-title {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 54px;
    margin-bottom: 15px;
  }
  .fitmate-catch-phrase {
    font-family: 'Permanent Marker', cursive;
    color: white;
    margin-bottom: 35px;

  }
  .btn-index {
    color: black;
    background-color: #F6D0A5;
    padding: 10px 40px;
    text-decoration: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    ;
  }
}

.fitmate-signup {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: inherit;
  inset: 0;
  z-index: 10;
  align-items: center;
  margin-bottom: 100px;
  .fitmate-signup-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}
