.chatbox {
  background-color: #414141;
  color: white;
  height: 100dvh;
  margin: 0px;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.btn-chat-send {
  color: #414141;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  background-color: #F6D0A5;
  margin-left: 10px;
}

.messages p {
  color: #414141;
  border-radius: 5px;
  margin-top: 5px;
}

.chatbox h1 {
  text-justify: center;
}
