body {
  padding: 20px 0px;
}

.show-distance, .show-description {
  padding: 0 20px;
}

.fitmate-container-show {
  display: flex;
  flex-direction: column;
}

.show-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.image-event {
  height: 100px;
  width: 200px;
  border-radius: 15px;
  object-fit: cover;
}
