
/* USER_PROFIL */
/* .page-container { //page commune pour tous le monde
  padding: 20px;
  height: 150dvh;
} */

.big-container-user {
  background-color: #414141;
  color: white;
  display: flex;
  flex-direction: column;
}

/* LINK-TITLE */
.link-title-profil {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fitmate-header-navbar {
    border: 0px solid;

    .transparent-button {
      background-color: transparent;
      font-size: 25px;
    }
  }

  /* TITLE */
  .show-title-user {
    color: #F6D0A5;

    h3 {
      margin-bottom: 0;
    }
  }

  /* IMAGE-USER-CORNER */
  .image-user-corner {
    display: block;
    width: 27.63px;
    height: 20px;
  }
}

/* IMAGE-PROFIL-CENTER & USERNAME */
.image-profil-username {
  /* border: 1px solid black; */
  justify-content: center;
  justify-items: center;
  display: grid;
  margin-top: -10px;

  /* IMAGE-PROFIL-CENTER */
  .image-profil-center {
    margin: 20px;
    margin-top: 40px;

    .image-profil {
      height: 150px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border: 1px solid #F6D0A5;
    }
  }

  /* USERNAME */
  .username {
    margin: 5px;
    color: #F6D0A5;
    font-size: 25px
  }
}

/* SHOW-DISTANCE-USER & LEVEL */
.show-distance-user-level {
  /* border: 1px solid black; */
  margin-top: 4px;
  display: flex;
  justify-content: space-around;
  padding: 10px;

  /* SHOW-DISTANCE-USER */
  .show-distance-user {
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;


    .pictogram-localisation {
      margin-right: 10px;
      margin-bottom: 11px;
      height: 22px;
    }
  }
  /* LEVEL */
  .level-user {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

    .pictogram-levels {
      /* margin-top: 5px; */
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }
  }
}

/* DESCRIPTION */
.description-user {
  border: 3px solid #F6D0A5;
  margin-top: 20px;
  padding: 20px;
  border-radius: 25px;
}

/* FAVORITE-SPORT */
.favorite-sport {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .favorite-sport-title {
    margin-bottom: 18px;
  }

  .btn-favorite-sport {
    background-color: #F6D0A5;
    font-weight: bold;
    border-radius: 15px;
    padding: 6px;
    width: 50%;
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
}
  a {
    text-decoration: none;
    color: #414141;

  }
}

.container-orga-interest {
  display: flex;
  justify-content: space-between;
  align-items: start;
}


/* EVENEMENT CREER PAR LE USER */
.event-create-user {
  // border: 3px solid #F6D0A5;
  margin-bottom: 20px;
  padding: 10px;
  list-style-type: none;
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  width: 100%;

  h6{
    font-weight: bold;
    background-color: #F6D0A5;
    padding: 10px;
    width: fit-content;
    color: #414141;
    border-radius: 30px 30px 0px 30px;
    }
  li{
    padding: 5px;
  }
}

/* EVENEMENT AUQUEL PARTICIPE LE USER */
.event-particip-user {
  // border: 3px solid #F6D0A5;
  padding: 10px;
  border-radius: 25px;
  list-style-type: none;
  margin-bottom:20px;
  h6{
    font-weight: bold;
    background-color: #F6D0A5;
    padding: 10px;
    width: fit-content;
    color: #414141;
    border-radius: 30px 30px 0px 30px;
    }
  li {
    padding: 5px;
  }

}

h6 {
  color: #F6D0A5;
}


/* EVENEMENT AUQUEL EST INTERESSE LE USER */

.event-interested-user{
  padding: 10px;
  border-radius: 25px;
  list-style-type: none;
  width: 100%;;
  h6{
    font-weight: bold;
    background-color: #F6D0A5;
    padding: 10px;
    width: fit-content;
    color: #414141;
    border-radius: 30px 30px 30px 0px;
    margin-left: auto;
    }
  li {
    padding: 5px;
    text-align: end;
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.log-out-session {
  display: flex;
  justify-content: center;
  .link-log-out-session {
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    padding: 6px;
    width: 50%;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}
