.page-container { //page commune pour tous le monde
  padding: 20px;
  min-height: 100dvh;
}

.fitmate-container-show {
  background-color: #414141;
  color: white;
  display: flex;
  flex-direction: column;
}
.link-title{
  display: flex;

    .fitmate-header-navbar button {
      border: 0px solid;
    }

    .transparent-button {
      background-color: transparent;
      font-size: 25px;
    }

  .show-title{
  /* display: flex; */
  justify-content: flex-start;
  flex-direction: column;
  color: #F6D0A5;
  margin-left: 31px;
  }
}

.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
  background-color: #F6D0A5;
  color: #4B4B4B;
  border-radius: 50px;
  font-weight: bold;
}

.dropup .dropdown-menu[data-bs-popper] {
  top: auto;
  bottom: 51px;
  margin-top: 0;
  margin-bottom: var(--bs-dropdown-spacer);
  background-color: #888888;
  border-radius: 10px;
  color: #F6D0A5;
}

.image-event {
  height: 186px;
  width: 350px;
  border-radius: 15px;
  object-fit: cover;
  padding: 5px;
  margin-top: 12px;

  // margin-left
}

.show-image {
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 10px;
}

.show-distance {
  height: 40px;
  display: flex;
  align-items: center;
}


.icon-map{
  height: 40px;
  width: 40px;
  margin-right: 15px;
  padding: 5px;
}
// .show-distance .fa-solid {
//   margin-right: 8px;
//   padding: 15px;
//   font-weight: bold;
//   height: 40px;
//   width: 40px;
// }


.show-duration-level {
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  // margin-bottom: 30px;
  // padding-left: 13px;
}

.details-events{
  display: flexbox
}

.pictogram-levels {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 15px;
}

.show-description {
  margin-bottom: 20px;
  margin-top: 10px;
}


.organizer-img {
  height: 50px;
  width: 50px;
  margin: 10px 10px 10px 20px;
  border: 1px solid #F6D0A5;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.dropup .dropdown-menu[data-bs-popper] {
  background-color: #F6D0A5;
}

.dropdown-list-club {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}

.show-info-list-club {
  margin-top: 30px;
}

.show-info-list-club-paraf {
  text-align: center;
}

.show-list-club {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px 5px 15px;
  .show-list-club-name {
    color: #414141;
  }
  .show-list-club-locality {
    color: #414141;
  }
}

;.btn-message, .btn-interested {
  padding: 8px 24px;
  border: 0px solid;
  border-radius: 50px;
  font-weight: bold;
  background-color: #F6D0A5;
  a {
    color: #4B4B4B;
    text-decoration: none;
  }
}

.btn-interested {
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  background-color: #F6D0A5;
  color: #4B4B4B;
  margin-left: 2vh;
  a {
    color: #4B4B4B;
    text-decoration: none;
  }
}

// DROPDOWN

.dropdown-al {
  background-color: transparent;
  margin-bottom: 12px;
  border: none;
}

.dropdown-al li {
  margin-bottom: 10px;
}

.btn-du-dropdown {
  all: unset;

  padding: 4px 12px;
  box-shadow: none;
  border-radius: 50px;
  font-weight: bold;
  background-color: #F6D0A5;
  color: #4B4B4B;
  transition: background-color 0.3s ease, color 0.3s ease;
}

// POP UP / MODAL

.btn-retour-popup {
  all: unset;

  padding: 4px 12px;
  box-shadow: none;
  border-radius: 50px;
  font-weight: bold;
  background-color: #4B4B4B;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 12px;
}

.btn-close {
  // color: white !important;
  // background-color: red;
}

.modal-dialog {
  // background-color: aqua;
  background-color: #414141;
  color: white;
  border: none;
  border-radius: 25px;


}

.modal-content {
  // background-color: red;
  background-color: #414141;
  color: white;
  border: none;
  border-radius: 25px;


}

.modal-header {
  background-color: #414141;
  color: white;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}

.modal-body {
  border: none;

}

.modal-footer {
  background-color: #414141;
  color: white;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;


}
