<%# card container %>
<div class="big-container">

  <div class="card-container d-flex align-items-center">
    <%= image_tag('homepage-8.jpg', class:"image") %>
    <div class="card-infos">
      <div class="card-infos-details d-flex align-items-center mb-3">
        <%= image_tag('soccer-picto.png', class:"picto") %>
        <p>Playground Rezé</p>
      </div>
      <div class="card-infos-details d-flex align-items-center">
        <%= image_tag('place_small_card.svg', class:"picto") %>
        <p>Parc du Loiry, Rezé</p>
      </div>
    </div>
  </div>

</div>
