<div class="chat-container">
  <nav class="navbar navbar-chat w-100">
    <div class="navbar-chat-container d-flex justify-content-between align-items-center w-100">
    <%= link_to event_path do %>
      <div class="fitmate-header-navbar">
        <button class='transparent-button'>
          <i class="fa-solid fa-chevron-left" style="color: #f6d0a5;"></i>
        </button>
      </div>
    <% end %>
    <h1 class="chat-title">Message</h1>
      <ul class="navbar-nav me-auto">
        <div class="nav-item-card d-flex justify-content-center">
          <%= cl_image_tag @event.organizer.photo.key, class:"organizer-img", alt: "dropdown menu" %>
        </div>
      </ul>
    </div>
  </nav>
</div>
