.btn-logo {
  color: black;
  background-color: #F6D0A5;
  padding: 8px 24px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: 'Permanent Marker', cursive;
}
