.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-top-right {
  width: fit-content;
}

.mapboxgl-ctrl-bottom-left{
  display: none;
}

.mapboxgl-ctrl-bottom-right{
  display: none;
}


.mapboxgl-ctrl-group button{
  display: none;
  position: absolute;
  right: 0;
  top: 425px;
  margin-right: 18px;
}

.mapboxgl-ctrl button .mapboxgl-ctrl-icon {
  background-position: 50%;
  background-repeat: no-repeat;
  display: none !important;
  height: 100%;
  width: 100%;
}

.mapboxgl-ctrl-geolocate {
  display: none;
}


.mapboxgl-user-location-accuracy-circle {
  z-index: -1;
}
