.chatbox {
  background-color: #414141;
  color: white;
  height: 100dvh;
  margin: 0px;
  .messages {
  padding: 0px;
  }
}

.nav-item{
  a {
    text-decoration: none;
    color: white;
  }
}

.fitmate-header-navbar button {
  border: 0px solid;
  margin-top: 0;
}

.btn-chat-send {
  color: #414141;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  background-color: #F6D0A5;
  margin-left: 10px;
  border: 0px solid black;
}

.message-row {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
}

.chat-title {
  flex-grow: 1;
  text-align: center;
  margin-left: 30px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #F6D0A5;
  color: #414141;
}

.receiver-style {
  background-color: darkgray;
  color: #414141;
}
