
.big-container{
  padding: 20px;
}

.card-container {
  background: #F0D1AF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-infos {
  flex-grow: 1;
}

.card-infos-details p {
  margin-left: 5px;
  margin-bottom: 0;
  font-weight:bold ;
}

.pictogram {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


.image {
  width: 97px;
  height: 90px;
  border-radius: 5px;
  margin: 7px;
  object-fit: inherit;
}

.pictogram-sports {
  margin-top: 10px;
}

.event-card-link {
  text-decoration: none;
  color: #4B4B4B;
}

.card-event-title {
  font-weight: bold;
  padding-top: 10px;
}

.card-event-localisation {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 11ch;
}

.show-distance p {
    margin-right: 10px;
    font-size: 16px;
}
.icon-people-group i {
  font-size: 15px;
}
